<header>

    <a routerLink="/home"><h1>Permis piste</h1></a>

    <!-- TODO : search bar -->

    <nav>
        <ul>
            <li><a routerLink="/home">Accueil</a></li>
            <li><a routerLink="">Connexion</a></li>
            <li><a routerLink="">Inscription</a></li>
            <li><a routerLink="">Missions</a></li>
            <li><a routerLink="/learners">Apprenants</a></li>
            <li><a routerLink="">Jeux</a></li>
            <li><a routerLink="">Actions</a></li>
        </ul>
    </nav>
</header>
