<div class="content">
    <h1>Accueil</h1>

    <section>

      <div class="home-content">

        <div class="home-text">

            <h2 class="home-title">Bienvenue dans l'application Permis Piste !</h2>

            <h3>Nous sommes le {{currentDate}}</h3>

            <p>
              Cette application vous permettra de suivre pas à pas votre apprentissage.<br>
              En vous souhaitant une agréable visite !
            </p>

            <h2>Pour commencer, vous pouvez vous :</h2>
            <ul>
              <li>
                1) <a routerLink="">Enregistrer en tant qu'apprenant</a>
              </li>
              <li>
                2) <a routerLink="">Inscrire à un jeu depuis la liste</a>
              </li>
              <li>
                3) <a routerLink="">Accéder à la liste des missions pour valider des actions</a>
              </li>
            </ul>
            <h3 class="tips">D'autres informations comme la liste des apprenants ou des actions sont disponibles en haut à droite.</h3>
        </div>

        <div class="home-image">
          <img src="assets/images/polytech-lyon.png">
        </div>

      </div>


    </section>
</div>
