section {
    padding: 1em;

    border-radius: 1em;
    background-color: var(--light_grey);
}

h1 {
  font-weight: normal;
}

section {
  padding: 24px;
}

.home-content {
  display: flex;
}

.home-title {
  font-weight: normal;
  margin-left: -80px !important;
}

.home-text {
  width: 50%;
  margin-left: 80px;
}

.home-text > * {
  margin: 24px 0;
}

.home-text > h2, h3 {
  font-weight: normal;
}

.home-text > p {
  line-height: 32px;
}

.home-text > ul {
  margin: 0 64px;
}

.home-text > ul > li > a {
  color: var(--green);
  text-decoration: none;
}

.tips {
  color: var(--green);
}

.home-image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.home-image img {
  width: 400px;
  margin: auto 0;
}

.warning {
  color: var(--red);
  margin: 24px 8px;
}
