<app-header></app-header>

<main>
    <h1>Accueil</h1>

    <section>

        <div class="home-content">
            <h2>Bienvenue dans l'application Permis Piste !</h2>
    
            <h3>Nous sommes le {{currentDate}}</h3>
        
            <p>Cette application vous permettra de suivre pas à pas votre apprentissage.</p>
            <p>En vous souhaitant une agréable visite !</p>
        
            <h2>Pour commencer, vous pouvez :</h2>
        </div>

        
        
    </section>
    
    <p>{{message}}</p>
</main>

<app-footer></app-footer>