header {
    display: flex;
    justify-content: flex-start;

    width: 100%;

    padding: 1em;
    margin-bottom: 1em;

    background-color: #2C3E50;
    color: white;
}

header > nav {
    padding: 0.5em;
}

header > nav > ul{
    display: flex;
    justify-content: space-around;
}

header > nav > ul * {
    text-decoration: none;
    list-style: none;

    margin-right: 1em;

    color: white;
}