.red-indicator {
  color: var(--red);
}

.green-indicator {
  color: var(--dark_green);
}

.score {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.indicators-content {
  display: flex;
  align-items: baseline;
}

.indicators-content input {
  margin-left: 8px;
}

p {
  font-size: 16px;
}
