<div class="content">
  <h1>Liste des actions triées pour <span class="identity">{{identity}}</span> :</h1>

  <section>
    <div class="red-block">
      <p>
        Pour pouvoir enregistrer un score pour une action, il faut que l'action parent soit validée et que l'action ne possède pas déja un score avec
        une date supérieur ou égale à l'inscription au jeu.
      </p>
    </div>
    <div class="dark-grey-block">
      <p>
        Cliquez sur les icônes pour n'afficher que les jeux, missions ou objectifs.
      </p>
    </div>

    <p class="missions-tips">
      Cliquez sur une missions pour voir les actions.
    </p>

    <ng-container *ngFor="let inscription of userInscriptions">
      <div class="black-block" (click)="showCollapsible(inscription.id)">
        <i [class]="getAngleIcon(inscription.id)"></i>
        <img src="assets/images/joystick.png">
        <p>
          {{inscription.mission}} <span class="date_color">inscrit le {{inscription.date}}</span>
        </p>
        <div class="delete-button">
          <ng-container *ngIf="isRemovable(inscription.id)">
            <app-button [text]="'Supprimer'"
                        [color]="'var(--red)'"
                        (click)="removeInscription(inscription.id)"></app-button>
          </ng-container>
        </div>
        <i [class]="getCaretIcon(inscription.id)"></i>
      </div>
      <div class="collapsible-block" [hidden]="isCollapsibleHidden(inscription.id)">
        <ng-container *ngFor="let action of inscription.actions">
          <div class="collapsible-block-content">
            <p [ngClass]="!getScore(inscription.id, action.id) ? '' : isValid(inscription.id, action.id) ? 'green-score': 'red-score'">
              {{action.wording}}
            </p>
            <ng-container *ngIf="getScore(inscription.id, action.id) != null">
                <p [ngClass]="isValid(inscription.id, action.id) ? 'green-score': 'red-score'">
                  Score : {{getScore(inscription.id, action.id)}}
                  (minimum requis : {{action.scoreMinimum}})
                </p>
            </ng-container>
            <ng-container *ngIf="canSimulate() && getScore(inscription.id, action.id) == null">
              <app-button [text]="'Simuler'"
                          [color]="'var(--light_green)'"
                          (click)="simulerAction(action.id, inscription.id, action.wording)"></app-button>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>

  </section>

</div>
